<div
  class="flex flex-row items-center justify-center w-full absolute  top-[70px] sm:top-[110px] md:top-[110px] lg:top-[150px]  xl:top-[100px] ">
  <app-prizes-card title="Major" subtitle="Prize" image="assets/images/small_roulette1.png"></app-prizes-card>
  <app-prizes-card title="Minor" subtitle="Prize" image="assets/images/small_roulette2.png"></app-prizes-card>
  <app-prizes-card title="Grand" subtitle="Prize" image="assets/images/small_roulette3.png"></app-prizes-card>
  <app-level title="Level 12" subtitle="Current Level"></app-level>
</div>

<div
  class=" flex flex-row items-center justify-center w-full absolute  top-[150px]  sm:top-[160px] md:top-[290px]  lg:top-[400px] xl:top-[210px] ">

  <img src="assets/images/rim.png" alt=""
    class="w-[330px] h-[330px] sm:w-[550px] sm:h-[550px] md:h-[590px] md:w-[590px]   lg:w-[650px] lg:h-[650px] xl:w-[450px] xl:h-[450px] block rim-img">


  <div class="absolute inset-0 flex justify-center items-center wheel-container m-0">
    <div #wheel class="relative rounded-full border-[2px] border-yellow-400 overflow-hidden origin-center wheel
              w-[226px] xs:w-[320px] sm:w-[380px] md:w-[400px] xl:w-[300px] lg:w-[440px]
              h-[226px] xs:h-[320px] sm:h-[380px] md:h-[400px] xl:h-[300px] lg:h-[440px]">

      <!-- Wheel Slices -->
      <div class="absolute w-1/2 h-1/2 top-1/2 left-1/2 origin-top-left slice slice1">
        <div
          class="absolute w-full h-full top-0 left-0 flex flex-col items-center justify-center text-center p-2.5 box-border slice-content">
          <img src="assets/images/nmax.png" alt="" class="max-w-[60%] h-auto">
          <span class="text-xs sm:text-sm text-white font-bold drop-shadow-lg">YAMAHA NMAX</span>
        </div>
      </div>

      <div class="absolute w-1/2 h-1/2 top-1/2 left-1/2 origin-top-left slice slice2">
        <div
          class="absolute w-full h-full top-0 left-0 flex flex-col items-center justify-center text-center p-2.5 box-border slice-content">
          <img src="assets/images/nmax.png" alt="" class="max-w-[60%] h-auto">
          <span class="text-xs sm:text-sm text-white font-bold drop-shadow-lg">HONDA NMAX</span>
        </div>
      </div>

      <div class="absolute w-1/2 h-1/2 top-1/2 left-1/2 origin-top-left slice slice3">
        <div
          class="absolute w-full h-full top-0 left-0 flex flex-col items-center justify-center text-center p-2.5 box-border slice-content">
          <img src="assets/images/nmax.png" alt="" class="max-w-[60%] h-auto">
          <span class="text-xs sm:text-sm text-white font-bold drop-shadow-lg">LAMBO NMAX</span>
        </div>
      </div>

      <div class="absolute w-1/2 h-1/2 top-1/2 left-1/2 origin-top-left slice slice4">
        <div
          class="absolute w-full h-full top-0 left-0 flex flex-col items-center justify-center text-center p-2.5 box-border slice-content">
          <img src="assets/images/nmax.png" alt="" class="max-w-[60%] h-auto">
          <span class="text-xs sm:text-sm text-white font-bold drop-shadow-lg">BMW NMAX</span>
        </div>
      </div>

      <div class="absolute w-1/2 h-1/2 top-1/2 left-1/2 origin-top-left slice slice5">
        <div
          class="absolute w-full h-full top-0 left-0 flex flex-col items-center justify-center text-center p-2.5 box-border slice-content">
          <img src="assets/images/nmax.png" alt="" class="max-w-[60%] h-auto">
          <span class="text-xs sm:text-sm text-white font-bold drop-shadow-lg">FERRARI NMAX</span>
        </div>
      </div>

      <div class="absolute w-1/2 h-1/2 top-1/2 left-1/2 origin-top-left slice slice6">
        <div
          class="absolute w-full h-full top-0 left-0 flex flex-col items-center justify-center text-center p-2.5 box-border slice-content">
          <img src="assets/images/nmax.png" alt="" class="max-w-[60%] h-auto">
          <span class="text-xs sm:text-sm text-white font-bold drop-shadow-lg">YAMAHA NMAX</span>
        </div>
      </div>







    </div>
    <!-- Rim Bulbs -->
    <div
      class="absolute top-1/2 left-1/2 w-[330px] h-[340px] xs:w-[350px] xs:h-[350px] sm:w-[375px] sm:h-[385px] md:w-[590px] md:h-[630px] transform -translate-x-1/2 -translate-y-1/2 pointer-events-none z-30 rim-bulbs">
      <!-- Top bulb -->

      <div class="absolute rounded-full bg-gradient-radial from-yellow-100 via-yellow-400 to-yellow-600 
  shadow-bulb animate-bulbGlow bulb 
  w-4 h-4 sm:w-5 sm:h-5 md:w-9 md:h-9 
  top-[10%] left-[47%]  md:top-[11%]  md:left-[46%] lg:top-[11%] xl:top-[10%]">
      </div>
      <!-- Top-right bulb -->
      <div class="absolute rounded-full bg-gradient-radial from-yellow-100 via-yellow-400 to-yellow-600 shadow-bulb animate-bulbGlow bulb 
  w-4 h-4 sm:w-5 sm:h-5 md:w-9 md:h-9
  top-[18%] left-[77%] sm:top-[20%] sm:left-[79%] md:top-[13%] md:left-[70%] lg:top-[23%] lg:left-[81%]">
      </div>

      <!-- Right bulb -->
      <div class="absolute rounded-full bg-gradient-radial from-yellow-100 via-yellow-400 to-yellow-600 
  shadow-bulb animate-bulbGlow bulb 
  w-4 h-4 sm:w-5 sm:h-5 md:w-9 md:h-9
  top-[35%] left-[86%] sm:top-[36%] sm:left-[88%] md:top-[34%] md:left-[85%] lg:top-[40%] lg:left-[90%]">
      </div>

      <!-- Bottom-right bulb -->
      <div
        class="absolute rounded-full bg-gradient-radial from-yellow-100 via-yellow-400 to-yellow-600 
  shadow-bulb animate-bulbGlow bulb 
  w-4 h-4 sm:w-5 sm:h-5 md:w-9 md:h-9 
  top-[53%] left-[78%] sm:top-[55%] sm:left-[80%] md:top-[51%] md:left-[75%] lg:top-[59%] lg:left-[83%] xl:top-[60%] xl:left-[84%]">
      </div>

      <!-- Bottom bulb -->
      <div
        class="absolute rounded-full bg-gradient-radial from-yellow-100 via-yellow-400 to-yellow-600 
  shadow-bulb animate-bulbGlow bulb 
  w-4 h-4 sm:w-5 sm:h-5 md:w-9 md:h-9
  top-[60%] left-[48.5%] sm:top-[71%] sm:left-[49%] md:top-[60%] md:left-[49.5%] lg:top-[75%] lg:left-[50%] xl:top-[76%] xl:left-[50%]">
      </div>

      <!-- Bottom-left bulb -->
      <div class="absolute rounded-full bg-gradient-radial from-yellow-100 via-yellow-400 to-yellow-600 
  shadow-bulb animate-bulbGlow bulb
  w-4 h-4 sm:w-5 sm:h-5 md:w-9 md:h-9
  top-[43%] left-[16%]
  sm:top-[45%] sm:left-[15%]
  md:top-[39%] md:left-[16%]
  lg:top-[49%] lg:left-[13%]
  xl:top-[50%] xl:left-[12%]">
      </div>
      <!-- Left bulb -->
      <div class="absolute rounded-full bg-gradient-radial from-yellow-100 via-yellow-400 to-yellow-600 
  shadow-bulb animate-bulbGlow bulb 
  w-4 h-4 sm:w-5 sm:h-5 md:w-9 md:h-9
  top-[13%] left-[8%]
  sm:top-[14%] sm:left-[7.5%]
  md:top-[10%] md:left-[7.5%]
  lg:top-[16%] lg:left-[6.5%]
  xl:top-[17%] xl:left-[6%]">
      </div>
      <!-- Top-left bulb -->
      <div class="absolute rounded-full bg-gradient-radial from-yellow-100 via-yellow-400 to-yellow-600 
  shadow-bulb animate-bulbGlow bulb
  w-4 h-4 sm:w-5 sm:h-5 md:w-9 md:h-9
  top-[-15%] left-[16%]
  sm:top-[-13%] sm:left-[15%]
  md:top-[-22%] md:left-[20%]
  lg:top-[-9%] lg:left-[13%]
  xl:top-[-8%] xl:left-[12%]">
      </div>

    </div>



    <!-- Ribbon -->
    <div
      class="absolute top-38 xs:top-25 sm:top-30 md:top-65 lg:top-24 left-1/2 transform -translate-x-1/2 z-50 ribbon">
      <img src="assets/images/ribbon.png" alt=""
        class="w-[300px] h-[280px] xs:w-[300px] xs:h-[220px] sm:w-[320px] sm:h-[240px] md:w-[540px] md:h-[560px] lg:w-[350px] lg:h-[280px] ribbon-img">
    </div>

    <!-- Arrow Button -->
    <div class="absolute left-1/2 transform -translate-x-1/2 z-5 arrow">
      <img src="assets/images/arrw-btn.png" alt="" class="h-15 xs:h-14 sm:h-16 md:h-18 lg:h-19">
    </div>
  </div>







</div>




<!-- Spin Button -->
<div
  class=" relative flex flex-row items-center justify-center w-full absolute  top-[500px] sm:top-[110px] md:top-[930px] lg:top-[150px]  xl:top-[100px] ">
  <button
    class="absolute flex-col items-center justify-center 
                   w-35 xs:w-36 sm:w-40 md:w-70 lg:w-52 
                   h-13 xs:h-13 sm:h-14 md:h-25 lg:h-16 
                   bg-linear-to-r from-red-600 to-yellow-600 border-none rounded-lg text-white font-semibold shadow-lg cursor-pointer z-60 
                   disabled:bg-linear-to-r disabled:from-gray-600 disabled:to-gray-500 disabled:text-gray-300 disabled:cursor-not-allowed disabled:opacity-80 spin-btn"
    [disabled]="spinCount <= 0 || isSpinning" (click)="spinWheel()">
    <div class="text-[10px] xs:text-xs sm:text-xs md:text-xl tracking-wide">NO. OF FREE SPIN</div>
    <div class="text-sm xs:text-base sm:text-base md:text-4xl font-bold ">{{ spinCount }} SPIN</div>
  </button>
</div>