<div class="flex items-center justify-center h-screen max-w-[500px] mx-auto min-h-[380px]">
<div class="flex flex-row items-center justify-center w-full absolute  top-[70px] sm:top-[110px] md:top-[140px] lg:top-[100px]  ">
  <app-prizes-card title="Major" subtitle="Prize" image="assets/images/small_roulette1.png"></app-prizes-card>
  <app-prizes-card title="Minor" subtitle="Prize" image="assets/images/small_roulette2.png"></app-prizes-card>
  <app-prizes-card title="Grand" subtitle="Prize" image="assets/images/small_roulette3.png"></app-prizes-card>
  <app-level title="Level 12" subtitle="Current Level"></app-level>
</div>
   
</div>