<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">

<div class="relative 
         w-[70px] h-[60px]                   
         sm:w-[90px] sm:h-[60px]            
         md:w-[110px] md:h-[70px]  
         lg:w-[140px] md:h-[90px]
         xl:w-[95px] xl:h-[90px]         
         bg-[rgba(65,65,65,0.685)] rounded-[12px] border-2 border-transparent 
         overflow-hidden m-[2px] sm:m-[2px] 
         transition-all duration-200 ease-in-out 
         shadow-none hover:shadow-[0_0_15px_rgba(255,255,255,0.2)]">



  <div class="absolute top-[25px] left-0 rotate-[-55deg] md:rotate-[-45deg] origin-top-left w-[100px] text-left ">
    <h3
      class="font-[Poppins] font-bold text-[10px] sm:text-[14px] text-[rgb(160,160,160)] transition-all duration-200 ease-in-out m-0">
      {{ title }}
    </h3>
    <p
      class="font-[Poppins] font-bold text-[10px] sm:text-[15px] mt-[1px] text-[rgba(134,134,134,0.6)] transition-all duration-200 ease-in-out m-0">
      {{ subtitle }}
    </p>
  </div>

  <!-- ==== IMAGE ==== -->
  <div class="absolute xl:bottom-[-40px]  xl:right-[-25px] sm:bottom-[-45px]  sm:right-[-30px]  bottom-[-20px] right-[-15px]">
    <img [src]="image" alt="Prize Image"
      class="w-[55px] h-[55px]  xl:w-[95px] xl:h-[90px] md:w-[100px] md:h-[100px]    rotate-[-45deg] opacity-95 transition-all duration-200 ease-out" />
  </div>

</div>