<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">

<div class="relative 
         w-[70px] h-[60px]                   
         sm:w-[90px] sm:h-[60px]            
         md:w-[110px] md:h-[70px]  
         lg:w-[140px] md:h-[90px]
         xl:w-[95px] xl:h-[90px]         
         bg-[rgba(65,65,65,0.685)] rounded-[12px] border-2 border-transparent 
         overflow-hidden m-[2px] sm:m-[2px] 
         transition-all duration-200 ease-in-out 
         shadow-none hover:shadow-[0_0_15px_rgba(255,255,255,0.2)]">



  <div class="absolute top-[35px] left-0 rotate-[-55deg] md:rotate-[-45deg] origin-top-left w-[100px] text-left ">
    <!-- Title as image: adjust SIZE via h-5 (≈20px) and ROTATION via rotate-45 -->
      <img
        [src]="titleImage"
        [alt]="titleAlt || title"
        class="title-img inline-block mt-[-10px] mb-2.5  h-10 sm:h-6 w-auto object-contain rotate-45" />
    
    <!-- Subtitle as image: same size/rotation controls -->
    
      <img
        [src]="subtitleImage"
        [alt]="subtitleAlt || subtitle"
        class="subtitle-img inline-block h-9  ml-[-35px] sm:h-6 w-auto object-contain rotate-45" />
    
  </div>

  <!-- ==== IMAGE ==== -->
  <div class="absolute xl:bottom-[-40px]  xl:right-[-25px] sm:bottom-[-45px]  sm:right-[-30px]  bottom-[-20px] right-[-15px]">
    <img [src]="image" alt="Prize Image"
      class="wheel-img w-[55px] h-[55px]   xl:w-[95px] xl:h-[90px] md:w-[100px] md:h-[100px]    rotate-[-45deg] opacity-95 transition-all duration-200 ease-out" />
  </div>

</div>